@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-roboto antialiased bg-no-repeat !important;
  }
}

::-webkit-scrollbar {
  @apply w-[2px];
}
::-webkit-scrollbar-track {
  @apply bg-white;
}
::-webkit-scrollbar-thumb {
  @apply bg-[#333];
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-glassmorphism;
}
.ant-form-item-label {
  @apply font-bold !important;
}
.ant-picker-calendar-date-value {
  @apply text-[16px] !important;
}

.detail-title,
.detail-p {
  @apply mb-0 !important;
}

.ant-input,
.ant-select-selector,
.ant-picker {
  @apply bg-transparent text-black outline-none rounded-none border-l-0 border-r-0 border-t-0 focus:border-[#333] !important;
}

.ant-input-disabled,
.ant-select-selector:has(input[disabled]),
.ant-picker-disabled {
  @apply border-none bg-transparent cursor-default !important;
}

.select-disabled-not-view-mode {
  @apply bg-[rgba(0,_0,_0,_0.04)];
}

.ant-select-disabled .ant-select-arrow {
  @apply hidden;
}

.ant-picker-disabled .ant-picker-suffix,
.ant-picker-range.ant-picker-disabled .ant-picker-active-bar,
.ant-picker-range.ant-picker-disabled .ant-picker-range-separator {
  @apply hidden;
}

.ant-picker-disabled input {
  @apply cursor-default text-black !important;
}

.address .ant-input {
  @apply bg-transparent border-l-0 border-r-0 border-t-0 rounded-none !important;
}

.ant-picker-content thead tr th {
  @apply text-center px-0 !important;
}

.ant-picker-calendar-date-value {
  @apply text-center;
}

.ant-radio-button-wrapper {
  @apply bg-transparent text-black !important;
}

.ant-input-number-group-addon {
  @apply min-w-[74px];
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.custom-divide-x {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
}
